extends layout

block content

    div.jumbotron.jumbotron-fluid.bg-primary(style='background:url("' + branding.bg + '") no-repeat center center fixed; background-size: cover;')
        div.container
            h1.welcome
                | Welcome in your Nuxeo Node Portal


    div.container
        div.row
            div(class="col-sm")
                p News
                div#carouselNews.carousel.slide(data-ride="carousel")
                    ol.carousel-indicators
                        - var firstClass = 'active'
                        - var i = 0
                        each oneNews in news

                            li(data-target="#carouselNews", data-slide-to = i, class = firstClass)

                            - firstClass = ''
                            - i++


                    div.carousel-inner

                        - var firstClass = 'active'
                        each oneNews in news

                            div.carousel-item(class = firstClass)
                                img.slide-400(src='' + oneNews.img)
                                div.carousel-caption
                                   h5= oneNews.title
                                   p= oneNews.text

                            - firstClass = ''


                    a.carousel-control-prev(href="#carouselNews", role="button", data-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.sr-only Previous

                    a.carousel-control-next(href="#carouselNews", role="button", data-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.sr-only Next

            div(class="col-sm")
                p Prefered products / projects

                //img(src="http://localhost:8203/nuxeo/api/v1/repo/default/id/e8e5a90e-ec02-4fa9-9354-62e3ef5e1e06/@rendition/thumbnail")

                div#carouselProducts.carousel.slide(data-ride="carousel")
                    ol.carousel-indicators
                        - var firstClass = 'active'
                        - var i = 0
                        each oneNews in prefered

                            li(data-target="#carouselProducts", data-slide-to = i, class = firstClass)

                            - firstClass = ''
                            - i++


                    div.carousel-inner

                        - var firstClass = 'active'
                        each oneNews in prefered

                            div.carousel-item(class = firstClass)
                                img.slide-500(src='' + oneNews.img)

                            - firstClass = ''


                    a.carousel-control-prev(href="#carouselProducts", role="button", data-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.sr-only Previous

                    a.carousel-control-next(href="#carouselProducts", role="button", data-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.sr-only Next

        div.row
            div.col-sm
                hr.my-4

        div.row
            div(class="col-sm-6")
                p Add your content
                a.btn.btn-primary.btn-lg by mail
                hr.my-4
                a.btn.btn-primary.btn-lg by upload
                p &nbsp;