extends layout

block content

    div.jumbotron.jumbotron-fluid.bg-primary(style='background:url("' + branding.bg + '") no-repeat center center fixed; background-size: cover;')
        div.container
            h1.welcome= branding.title


    div.container
        div.row
            div.col-sm
                div.card


                    div.card-body
                        h5 News
                        div#carouselNews.carousel.slide(data-ride="carousel")
                            ol.carousel-indicators
                                - var firstClass = 'active'
                                - var i = 0
                                each oneNews in news

                                    li(data-target="#carouselNews", data-slide-to = i, class = firstClass)

                                    - firstClass = ''
                                    - i++


                            div.carousel-inner

                                - var firstClass = 'active'
                                each oneNews in news

                                    div.carousel-item(class = firstClass)
                                        img.w-100(src='' + oneNews.img)
                                        div.carousel-caption
                                           h5= oneNews.title
                                           p= oneNews.text

                                    - firstClass = ''


                            a.carousel-control-prev(href="#carouselNews", role="button", data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.sr-only Previous

                            a.carousel-control-next(href="#carouselNews", role="button", data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.sr-only Next


            div.col-sm
                //<div class="card" style="width: 18rem;">
                //<img class="card-img-top" src=".../100px180/" alt="Card image cap">
                //<div class="card-body">
                h4 Our focus

                //img(src="http://localhost:8203/nuxeo/api/v1/repo/default/id/e8e5a90e-ec02-4fa9-9354-62e3ef5e1e06/@rendition/thumbnail")

                div#carouselProducts.carousel.slide(data-ride="carousel")
                    ol.carousel-indicators
                        - var firstClass = 'active'
                        - var i = 0
                        each oneNews in preferred

                            li(data-target="#carouselProducts", data-slide-to = i, class = firstClass)

                            - firstClass = ''
                            - i++


                    div.carousel-inner

                        - var firstClass = 'active'
                        each oneNews in preferred

                            div.carousel-item(class = firstClass)
                                img.w-100(src='' + oneNews.img)

                            - firstClass = ''


                    a.carousel-control-prev(href="#carouselProducts", role="button", data-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.sr-only Previous

                    a.carousel-control-next(href="#carouselProducts", role="button", data-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.sr-only Next

        div.row
            div.col-sm
                hr.my-4
