extends layout

block content

    div.container

        div.row
            div(class="col-sm-6")
                p Add your content
                a.btn.btn-primary.btn-lg by mail
                hr.my-4
                a.btn.btn-primary.btn-lg by upload
                p &nbsp;