doctype html
html(lang='en')
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" , content = "width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet', href="/stylesheets/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        script(src="/javascripts/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
        script(src="/javascripts/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")

        // link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.1/css/all.css", integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP", crossorigin="anonymous")
        script(src="/fontawesome-free-5.6.1-web/js/all.js")

        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-63329886-8")
        script(type='text/javascript')
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-63329886-8');


    body

        - var branding2 = {"logo" : "", "version" : "_"}
        if !!branding
            - branding2 = branding

        - var appinfo2 = {"version" : "_"}
        if !!appinfo
            - appinfo2 = appinfo

        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a.navbar-brand(href="/")
                img(src='' + branding2.logo, style="max-height:40px;")
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon

            div#navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="/") Home

                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle#navbarDropdown(role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") And more...
                        div.dropdown-menu(aria-labelledby="navbarDropdown")
                            a.dropdown-item(href="/tests") Minute tests
                            a.dropdown-item(href="/nxql") Queries
                            div.dropdown-divider
                            a.dropdown-item(href="/import") Add content

                ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
                    li.nav-item
                        a.btn.btn-outline-light(readonly, title= nameAndStatus)
                            i.fas.fa-user

        block content

        footer
            nav.navbar.navbar-light.justify-content-end
                p 2019 &copy; #{appinfo2.version}

