
.welcome {
    color: white;
}

img.slide-200 {
    width: 200px;
    height: 200px;
}
img.slide-300 {
    width: 300px;
    height: 300px;
}
img.slide-400 {

    max-width: 400px;
    max-height: 400px;

}
img.slide-500 {

    max-width: 500px;
    max-height: 500px;

}
img.slide-600 {

    max-width: 600px;
    max-height: 600px;

}

img.w-100 {
    width: 100%!important;
}